html { height: 100%; }

body { 
	margin: 0; 
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: rgb(95,89,109);
	background: radial-gradient(ellipse, rgba(95,89,109,1), rgba(0,0,0,1));
}

#lines {
	z-index: 1;
	position: fixed;
	pointer-events: none;
}

#log {
	position: fixed;
	top: 50px;
	left: 10px;
	font-size: 2em;
}

#three-canvas {
	transition: opacity 1s ease-in-out;
}
